<div class="register-form">

  <form>

    <div class="form-group">
      <label>Nome</label>
      <input type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>Usuário</label>
      <input type="text" class="form-control" />
    </div>

    <div class="form-group">
      <label>E-mail</label>
      <input type="email" class="form-control" />
    </div>

    <div class="form-group">
      <label>Senha</label>
      <input type="password" class="form-control" />
    </div>

    <div class="form-group">
      <label>Confirmar senha</label>
      <input type="password" class="form-control" />
    </div>

    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" />
      <label for="aceitaTermos" class="form-check-label">Eu li e concordo com os Termos</label>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Registrar</button>
      <button type="button" class="btn btn-warning float-right">Limpar</button>
    </div>

  </form>

</div>
